<div class="login">
  <h1>Login</h1>
  <form action="action_page.php" method="post">
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <button type="submit">Login</button>
      <label>
        
      <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  
    <div class="container" id='bonus'>
        <ul>
            <li class="register">Don't have an account yet ? <a routerLink="/register"> Register !</a></li>
            <li class="pswf">Forgot <a routerLink="/password">password?</a></li>
        </ul>

    </div> 
  </form>
</div>

<div id="theList">
  <h2>Liste de tout les utilisateurs inscrits /!\ à Supprimer à la fin du projet /!\</h2> <!-- à Supprimer -->
  <ul>
    <li *ngFor="let item of Users">{{item.username}} | {{item.password}} | {{item.email}} </li>
  </ul>
</div>