<div class="PageOrcha">
  <h2 class="presentation_orcha">What is Orcha language ?</h2>
  
  <div class="Partie1">
    <div><img src="../assets/images/orcha1.jpg" alt="Human Activities" class="img_orcha1"></div>
    <div><h3>Drive Human Activities from any business using a simple language:</h3>
    <p class="presentation_orcha1">The syntax is basic :<br/>
    receive order from customer<br/>
    prepareOrder with order.value<br/>
    when "prepareOrder terminates"<br/>
    send preparOrder.result to customer</p>
    <p class="presentation_orcha1">If you want to learn more about Orcha language, press the following button :</p>
    <p class="presentation_orcha1"><a class="btn_learnmore" href="http://orchalang.com/orchaDetails.htm" role="button">Learn more</a></p>
  </div>
  
  <div class="Partie2">
    <div><img src="../assets/images/orcha2.jpg" alt="Activities/Business" class="img_orcha2"></div>
    <div><h3>Model your activities/business</h3>
    <p class="presentation_orcha2">An Orcha program describes how an organization works where humans, programs and devices exchange messages and coordinate their activities.<br/>
    <br/>Whatever your activities are, Orcha speaks your business language: <br/>
    receive passport from passenger<br/>
    controlIdentity with passport.photo<br/>
    <br/>receive luggage from passenger<br/>
    scanLuggage with luggage.value<br/>
    <br/>when "scanLuggage fails and controlIdentity terminates"<br/>
    alertAuthorities with controlIdentity.result<br/>
    <br/>Orcha modelling language is easy to learn (a few set a instructions).<br/>
    <br/>Your models written in Orcha are also programs. So just configure your Orcha program and simply run it to drive your business.</p>
    <p class="presentation_orcha2">Orcha programs are:</p>
    <ul class="presentation_orcha2"><li>Lightweight (no application server is needed)</li>
    <li>Portable</li>
    <li>Microservices compatible</li>
    <li>Ready for production mode with a high quality of services</li></ul>
    </div>
  </div>
  
  <div class="Partie3">
    <div><img src="../assets/images/orcha3.png" alt="Applications and devices" class="img_orcha3"></div>
    <h3>Integrate applications and devices</h3>
    <p class="presentation_orcha3">The Orcha language is also an integration language.<br/>
    <br/>When you write:<br/>
    receive passport from passenger<br/>
    data for the passenger can come from:</p>
    <ul class="presentation_orcha3"><li>Files</li>
    <li>Sensors from the Internet of Things</li>
    <li>SQL and NoSQL databases</li>
    <li>...</li></ul>
    <p class="presentation_orcha3"><br/>When you write:<br/>
    controlIdentity with passport.photo<br/>
    controlIdentity is:</p>
    <ul class="presentation_orcha3"><li>a Web Service</li>
    <li>a local application</li>
    <li>written in any programming language</li></ul>
  </div>
</div>