<div class="editor">
    <form method="POST">
        <ul class="bouton">
            <li>
                <button type="button" (click)="onSave()"><img src="../../assets/images/save.png" height="25" width="35"></button>
                <label>Save</label>
            </li>
            <li>
                <button type="button" (click)="onLoad()"><img src="../../assets/images/import.png" height="25" width="25"></button>
                <label>Load</label>
            </li>
            <li>
                <select [(ngModel)]="fileName" name="filename" >
                    <option *ngFor="let Project of ProjectList" [value]=Project.projectName> {{Project.projectName}}</option>
                </select>
                <label>Select project</label>
            </li>
            <li>
                <button type="file" (click)="export()"><img src="../../assets/images/run.png" height="25" width="25"></button><input type="text" name="fileName" [(ngModel)]="fileName" >
                <label>Export</label>
            </li>
            <li>
                <input type="file" (change)="import($event.target.files)">
                <label>Import</label>
            </li>
            <li>
                <button type="button" (click)="onDelete()">Delete</button>
                <label>Delete project</label>
            </li>
        </ul>
        <ckeditor name="orcha" [editor]="Editor" [data]="Data" tagName="textarea"
         [config]="{ toolbar: [  ] }" [(ngModel)]="Data" (ngModelChange)="compile()" ></ckeditor>
         
        <label>{{resultat}}</label>
    </form>

</div>            
