
body {
	
		background: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
		font-weight: 300;
    overflow-x: hidden;
}


/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/



h1,h2,h3,h4,h5,h6,special {
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.5px;
}

special {
    font-size: 40px;
    padding-bottom: 14px;
	
  border-bottom: 6px solid #2ee87f;
  background-color: lightgrey;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

	
}

special:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


h1 {
    font-size: 62px;
    padding-bottom: 14px;
    margin-bottom: 0px;
	
}

h2 {
  font-size: 32px;
  line-height: 46px;
}

h3 {
  font-size: 26px;
}

h4 {
  color: #666;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
}

p {
	  padding: 2em;
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.2px;
}

strong {
  font-weight: 400;
}

.btn-success:focus {
  background-color: #000;
  border-color: transparent;
}


/*---------------------------------------
    General               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #02b80e;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover, a:active, a:focus {
  color: #43f04f;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#portfolio
{
  margin-right: 25px;
  margin-left: 25px;
}

.section-title {
  position: relative;
  padding-bottom: 62px;
  text-align: center;
}

.section-title h3 {
  color: #555;
  font-weight: 400;
  letter-spacing: 4px;
}


/*---------------------------------------
    Preloader section              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-spinner.sk-spinner {
  background-color: #bdc3c7;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  -webkit-animation: sk-innerCircle 1s linear infinite;
  animation: sk-innerCircle 1s linear infinite; 
}

.sk-spinner .sk-inner-circle {
  display: block;
  background-color: #ffffff;
  width: 16px;
  height: 16px;
  position: absolute;
  border-radius: 8px;
  top: 5px;
  left: 5px; 
}

@-webkit-keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }




/*---------------------------------------
    Home section              
-----------------------------------------*/

#home {
    background-size: cover;
    background-position: center center;
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
     align-items: center;
    position: relative;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
}

#home hr {
  width: 82px;
  margin-top: 32px;
}

.div_contenu{
  max-width: 1140px;
  padding-right: .9375rem;
  padding-left: .9375rem;
  margin-right: auto;
  margin-left: auto;  
  margin-top: 4%;
  margin-bottom: 4%;
}


/*---------------------------------------
   Portfolio section              
-----------------------------------------*/

#portfolio small {
  color: #f0f0f0;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#portfolio .portfolio-thumb {
  position: relative;
  padding: 0;
  margin-top: 32px;
}

#portfolio .portfolio-thumb .portfolio-overlay {
  position: absolute;
  background: #222;
  color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: top;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

#portfolio .portfolio-item {
    position: absolute;
    top:50%;
    left: 50%;
    -webkit-transform:translate(-50%,-50%);
      -ms-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
}

#portfolio .portfolio-thumb:hover .portfolio-overlay {
  opacity: 0.9;
}

#portfolio .text-center {
  padding-top: 62px;
}




/*---------------------------------------
   Footer section              
-----------------------------------------*/
hr {
  border-color: #ffffff;
}

.div_footer {
  max-width: 1140px;
  padding-right: .9375rem;
  padding-left: .9375rem;
  margin-right: auto;
  margin-left: auto;
}

footer {
    position: relative;
	  background-color: rgb(255, 255, 255);
}

footer .col-md-3 .fa {
  font-size: 42px;
}

footer a {
  color: #0275d8;
}

footer .footer-copyright {
  padding-top: 10px;
}






/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/
.img-responsive,.thumbnail a>img,.thumbnail>img{display:block;max-width:50%;height:auto;margin-left: 25px;}

@media (max-width: 767px) {

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 32px;
    line-height: 48px;
  }

  h3 {
    font-size: 22px;
  }

  .section-title h2 {
    font-size: 22px;
    line-height: 35px;
  }

  .navbar-default {
    margin-top: 0px;
    text-align: center;
  }

  #about .col-md-8 img {
    padding-right: 0px;
  }

  #blog-single-post .blog-post-title h2 {
    font-size: 29px;
    line-height: 40px;
  }

  footer {
    text-align: center;
  }

  footer .col-md-4 {
    padding-top: 42px;
  }

}


body{
	font-family: Verdana, Calibri, sans-serif;
	margin: 0px;
	padding: 0px;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;

}



nav{
	width: 100%;
	background-color: #ededed;
}

nav > ul{
	margin: 0px;
	padding: 0px;
}

nav li{
	list-style-type: none;
}

nav > ul > li{
	float: left;
	position: relative;
}

nav ul::after{
	content: "";
	display: table;
	clear: both;
}

nav input[type=checkbox]{
	display: none;
}

nav input[type=checkbox]:checked ~ ul{
	display: block;
}

nav label{
	display: none;
}

nav a{
	display: inline-block;
	text-decoration: none;
}

nav > ul > li > a{
	padding: 20px 30px;
	color: #000;
}

nav > u > li:hover a{
	padding: 15px 30px 20px 30px;
}



@media screen and (max-width: 840px){
	.menu-mobile{
		display: block;
		color: #000;
		background-color:  #ededed;
		text-align: center;
		padding: 12px 0px;
		width: 100%;
	}
	nav ul{
		display: none;
	}
	nav ul li, nav ul li a{
		width: 100%;
		text-align: center;
	}
	nav ul li a, nav ul li:hover a{
		padding: 10px 0px;
	}
	.responsive {
    width: 49.99999%;
    margin: 6px 0;
  	}

}

.menu-accueil:hover{
	border-bottom: 5px solid #52d182;
	background-color: rgba(220, 220,220, 0.2);
}

#connexion{
  float: right;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 325px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}





/* Create 2 equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {

  
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}




/* Create 2 equal columns that floats next to each other */
.column-prod {
  float: left;
  width: 50%;
  padding: 15px;
}

/* Clear floats after the columns */
.row-prod:after {

  
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column-prod {
    width: 100%;
  }
}






.product{
  text-align: center;

}

.avis{
  text-align: center;
  border: 3px solid green;

}



.gallery-all:after {
  

  content: "";
  display: table;
  clear: both;


}

.gallery-all {
  
display: block;
  margin-left: auto;
  margin-right: auto;


}

.reseaux li{
  display:inline;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 365px;
  height: 365px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
	
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

