/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
body{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

h1{
    text-align: center;
    padding-top: 20px;
}
=======
>>>>>>> e07cdb26388605f69e88b9424efb8c1a99abe7bc
