h2{
    text-align: center;
}
.account_partie1{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.partie1_left{
    padding-right: 100px;
}

.partie1_left ul{
    background: #ff9999;
    padding: 20px;
}
    
.partie1_left ul li{
    list-style: none;
    background: #ffe5e5;
    padding: 5px;
}

.partie1_right{
    padding-left: 100px;
}

.partie1_right ul{
    background: #3399ff;
    padding: 20px;
}

.partie1_right ul li{
    list-style: none;
    background: #cce5ff;
}

.account_partie2{
    text-align:center;  
}

button{
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}